mixin testInfo(testData)
    .testInfoWrapper
        p Test Id: #{testData.Id}
        p Board Id: #{testData.BoardId}
        p Wattage: #{testData.DeviceWattage}
        p Firmware: #{testData.DeviceFirmware}
        p Date Tested: #{testData.CreatedDate.toString()} 